header {
    display: flex;
    justify-content: center;
}

.header-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.dc-logo {
    width: 70px;
}