footer {
    background-color: #303030;
    color: #fff;
    font-family: 'Arial', sans-serif;
    background-image: url('../../../public/footer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-image: url('../../assets/img/footer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-links-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-column {
    min-width: 150px;
}

.footer-title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer-links {
    list-style: none;
}

.footer-link-item {
    margin-bottom: 5px;
}

.footer-link {
    color: #959595;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.2s ease;
}

.footer-link:hover {
    color: #0282f9;
}

.footer-logo {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    align-items: center;
}

.footer-logo img {
    max-height: 100%;
    width: auto;
    opacity: 0.9;
}

.footer-bottom {
    background-color: #252525;
    padding: 20px 0;
    z-index: 99;
}

.footer-bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.signup-button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #0282f9;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
}

.signup-button:hover {
    background-color: rgba(2, 130, 249, 0.1);
}

.social-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.follow-us {
    color: #0282f9;
    font-weight: bold;
    font-size: 16px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #303030;
    color: #fff;
}

.social-icon:hover {
    background-color: #0282f9;
}